body {
    margin: 0;
    /* background-color: #74867c; */
}

#container {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-color: #74867c; */
}

#game {
    position: relative;
    /* background-color: #74867c; */
}
