body {
    margin: 0;
    /* background-color: #74867c; */
}

html, body {
    overscroll-behavior: none;
  }

#container {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #74867c;
}

#game {
    position: relative;
    /* background-color: #74867c; */
}

#inputer {
    background-color:rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
    border: none;
    outline:none;
    /* height:30px; */
    transition:height 1s;
    -webkit-transition:height 1s;
}
/* #inputer:focus {
    height:50px;
    font-size:16px;
} */